<!DOCTYPE html>
<html>
<head>
  <title>Machine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- 以下の2行で，MQTT over Websocketを使うライブラリ(.js)を読み込む -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= nav_bar :brand => Settings.service.name, :brand_link => root_path %>
<%= nav_bar brand: Settings.service.name do %>
 <%= menu_group pull: :right do %>
  <%= menu_item "developer", Settings.service.repo_url %>
  <%= menu_item glyph(:'question-sign'), Settings.service.help_url %>
 <% end %>
<% end %>
<div class="container">
<%= bootstrap_flash %>
<%= yield %>
</div>
</body>
</html>
