<!DOCTYPE html>
<html>
<head>
  <title>Machine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= nav_bar :brand => Settings.service.name, :brand_link => root_path %>
<%= nav_bar brand: Settings.service.name do %>
 <%= menu_group pull: :right do %>
  <%= menu_item "developer", Settings.service.repo_url %>
  <%= menu_item glyph(:'question-sign'), Settings.service.help_url %>
 <% end %>
<% end %>
<div class="container">
<%= bootstrap_flash %>
<%= yield %>
</div>
</body>
</html>
